.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 2rem;
}

.posts {
  margin: 5rem auto 0;
  max-width: 720px;

  a {
    display: block;

    &:hover strong {
      color: var(--yellow);
    }

    & + a {
      border-top: 1px solid var(--gray-700);
      margin-top: 2rem;
      padding-top: 2rem;
    }

    time {
      align-items: center;
      color: var(--gray-300);
      display: flex;
      font-size: 1rem;
    }
  
    strong {
      display: block;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      transition: color .2s;
    }
  
    p {
      color: var(--gray-300);
      line-height: 1.625rem;
      margin-top: .5rem;
    }
  }
}